.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1 {
    text-align: left;
    margin: 20px auto auto 20px;
    font-size: 30px;
    width: 100%;
}
article {
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    min-height: 250px;
    vertical-align: wrap;
}
article h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}
div.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    position: relative;
    float: right;
    top: -80px;
}

div.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

div.max_guest {
    line-height: 140px;
    width: 100px;
    height: 100%;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    background-image: url("../images/icon_group.png");
}

div.number_rooms {
    line-height: 140px;
    width: 100px;
    height: 100%;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    background-image: url("../images/icon_bed.png");
}

div.number_bathrooms {
    line-height: 140px;
    width: 100px;
    height: 100%;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
    background-image: url("../images/icon_bath.png");
}
div.user, div.description {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}